/*

selector {
	attribute-1: value-1;
	attribute-2: value-2;
	attribute-3: value-3;
}

selector-2 {
	attribute-1: value-1;
}

*/

body {
	background: pink;
	font-family: "calluna-sans", helvetica, sans-serif;
	font-size: 1.5em;
	text-align: center;
	text-indent:2.5em;
	line-height:2em;
}


