body {
	background: lightgray;
}

selector {
	attribute: value;
}

{
selector {
	attribute: font;
}

 {font-family: "calluna-sans", helvetica, sans-serif; 
}

 {font-size: 1.5em;

}

 {text-align: center;

}
 {text-indent:2.5em;
 }


