body {
	background: lightgray;
}

selector {
	attribute: value;
}

{
selector {
	attribute: font;
}

p {font-family: "calluna-sans", helvetica; 
}

p {font-size: 1.5em;

}

p {text-align: center;

}
p {text-indent:50px;}


